$def with (content)
<!DOCTYPE html>
<html>
<title>ASACS - $:content.pagename</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/nav.css">
<script src="/static/js/jquery-3.1.0.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>

<body>
<ul class="w3-navbar w3-theme w3-top w3-left-align w3-large" id="logo" style="z-index:4;">
  <li class="w3-opennav w3-right w3-hide-large">
    <a class="w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="#" class="w3-theme-l1">ASACS</a></li>

$if session.get('username'):
  <li id="navBarRight" class="w3-hide-small"><a href="/logout/" class="w3-hover-white">Logout</a></li>
  <li id="navBarRight" class="w3-hide-small"><a href="#" class="w3-hover-white">[ $session.get('username') ]</a></li>
</ul>

$if session.get('username'):
  <nav class="w3-sidenav w3-collapse w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4><b>Menu</b></h4>

    <!-- Pages -->
    <a href="/home/" class="w3-hover-black">Home Page</a>
    <a href="/services/" class="w3-hover-black">Services</a>
    <a href="/client/" class="w3-hover-black">Client Management</a>
    <a href="/inventory/" class="w3-hover-black">Inventory Management</a>
    <a href="/reports/" class="w3-hover-black">Public Reports</a>
  </nav>

<!-- Content -->
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    $:content
  </div>
</div>

<footer id="myFooter">
  <div class="w3-container w3-theme-l2 w3-padding-32">
    <h4>&nbsp;</h4>
  </div>

  <div class="w3-container w3-theme-l1">
    <p id="copyright">Copyrighted &copy; 2017 | CS 6400 | Phase 3 | Team: Melanie Clarke, Ye Wang, Vincent La, Khanh Nguyen</p>
  </div>
</footer>

<script src="/static/js/nav.js"></script>
</body>
</html>
