$var pagename : Add Clients

<div class="css-content">
<h1 class="w3-text-teal">Add Client Page</h1>
<form action="/client/add/" method="post">
  First name:<br>
  <input type="text" name="first_name"><br>
  Last name:<br>
  <input type="text" name="last_name"><br>
  ID Number:<br>
  <input type="text" name="id_number"><br>
  Phone Number:<br>
  <input type="text" name="phone_number"><br>
  Description:<br>
  <input type="text" name="description"><br><br>
  <input type="submit" value="Submit">
</form>
</div>

